# Hidden Files
.DS_Store
.gitignore
.eslintignore
.eslintrc.json

# Configuration Files
tsconfig.json
jest.config.js
webpack.config.js
.babelrc
.prettierignore
.prettierrc.json


# Test
__test__/*

# Source Code 
src

# Development Files
development/*
node_modules
